<h2>Home Page</h2>

<form action="/" method="post">
    <label for="location">Search for a Location, Landmark, or Address</label>
    <input type="text" name="locationInput" id="location" placeholder="Where do you want to look?">
    <button class="btn waves-effect waves-light" type="submit">What's your weather?</button>
</form>
