<h2>Home Page</h2>

<form action="/" method="post">
    <label for="location">Search for a Location</label>
    <input type="text" name="locationInput" id="location" placeholder="Where do you want to look?">
    <button type="submit">Is it raining?</button>
</form>
